[submodule "External/bullet3"]
	path = External/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "Plugins/Blender/polyshade-gameengine-connect"]
	path = Plugins/Blender/polyshade-gameengine-connect
	url = https://github.com/polyphase-engine/Polyphase-Blender-Addon---Connect
[submodule "External/zep"]
	path = External/zep
	url = https://github.com/Rezonality/zep.git
[submodule "External/doxygen-awesome-css"]
	path = External/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "Engine/External/PolyVox"]
	path = Engine/External/PolyVox
	url = https://github.com/polyphase-engine/polyvox.git
[submodule "Engine/External/libgit2"]
	path = Engine/External/libgit2
	url = https://github.com/libgit2/libgit2.git
